[Desktop Entry]
Encoding=UTF-8
Name=AT-SPI Browser 3
Name[en_CA]=AT-SPI Browser
Name[en_GB]=AT-SPI Browser
Comment=Browse your Assistive Technology-enabled desktop (python3 version)
Comment[en_CA]=Browse your Assistive Technology-enabled desktop (python3 version)
Comment[en_GB]=Browse your Assistive Technology-enabled desktop (python3 version)
Exec=sniff3
Terminal=false
Type=Application
Icon=dogtail3-head
StartupNotify=true
Categories=Application;Development;
